<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu-desplegable</title>
    <link rel="stylesheet" href="{% static 'usuarios/css/sideba.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/css/centra.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/css/tablas.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"></link>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'usuarios/css/bootstrap.min.css' %}">
        <!-- Font awesome CSS -->
        <link rel="stylesheet" href="{% static 'usuarios/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    {% endblock stylesheets %}
    
</head>

<body>
    {% load static %}
    {% block content %}
    {% include "usuarios/_modal.html" %}
    <div class="d-flex" id="wrapper">
      <div class="bg-dark shadow-lg" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <!--Los elementos padre e hijos deben estar dentro de un super ul y los elementos padre primero se abren con in <i> y luego un sub- <ul>-->
                <div class="container-svg">
                  <div>
                    <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" fill=" #fdfdfe" focusable="false" class="style-scope yt-icon" style="pointer-events: none; display: block; width: 25px; height: 25px;"><g class="style-scope yt-icon"><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8" class="style-scope yt-icon"></path></g></svg>
                    <span><a href="{% url 'torta_administrador' %}">Inicio</a></span>
                </div>
                  <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #fdfdfe;"><path d="M2 3h20v4H2zm17 5H3v11a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V8h-2zm-3 6H8v-2h8v2z"></path></svg>
                      <span><a href="{% url 'formatos_admin' %}">Formatos</a></span>
                  </div>
                  <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #fdfdfe;"><path d="m20 8-6-6H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8zM9 19H7v-9h2v9zm4 0h-2v-6h2v6zm4 0h-2v-3h2v3zM14 9h-1V4l5 5h-4z"></path></svg>
                      <span>Reportes</span>
                  </div>
                  <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #fdfdfe;"><path d="M16.813 4.419A.997.997 0 0 0 16 4H3a1 1 0 0 0-.813 1.581L6.771 12l-4.585 6.419A1 1 0 0 0 3 20h13a.997.997 0 0 0 .813-.419l5-7a.997.997 0 0 0 0-1.162l-5-7z"></path></svg>
                      <span> <a href="{% url 'permisos_evidencias' %}">Accesos</a></span>
                  </div>
              </div>
              
              <div class="container-svg">
                  <h5>Más de SST</h5>         
                  <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #fdfdfe;"><path d="M12 2C6.579 2 2 6.579 2 12s4.579 10 10 10 10-4.579 10-10S17.421 2 12 2zm0 5c1.727 0 3 1.272 3 3s-1.273 3-3 3c-1.726 0-3-1.272-3-3s1.274-3 3-3zm-5.106 9.772c.897-1.32 2.393-2.2 4.106-2.2h2c1.714 0 3.209.88 4.106 2.2C15.828 18.14 14.015 19 12 19s-3.828-.86-5.106-2.228z"></path></svg>
                      <span><a href="{% url 'gestion_usuarios' %}">Gestion de usuarios</a></span>
                  </div>
              </div>
              <div class="container-svg">
                  <h5>Cuenta Usuario</h5>
                 
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: #fdfdfe;"><path d="M12 2C6.579 2 2 6.579 2 12s4.579 10 10 10 10-4.579 10-10S17.421 2 12 2zm0 5c1.727 0 3 1.272 3 3s-1.273 3-3 3c-1.726 0-3-1.272-3-3s1.274-3 3-3zm-5.106 9.772c.897-1.32 2.393-2.2 4.106-2.2h2c1.714 0 3.209.88 4.106 2.2C15.828 18.14 14.015 19 12 19s-3.828-.86-5.106-2.228z"></path></svg>
                    <span><a href="{% url 'perfil' %}" style="text-decoration:none;">Perfil</a></span>
                  </div>
              </div>
        </div>
    </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <!--Navbar-->

            <nav class="navbar navbar-expand-lg shadow-lg">
                <div class="container-fluid">
                    <div class="d-flex ">
                        <a id="menu-toggle"><span id="open-close" id="menu-toggle"><i class='bx bx-menu mt-2'></i></span></a>
                        <img src="{% static 'usuarios/img/logo.png' %}" alt="" width="120" height="43" class="mt-2">
                        <a class="navbar-brand ms-3 mt-2" href="">Administrador / {{user.username}}</a>
                    </div>
                    <span><a href="{% url 'torta_administrador' %}"><ion-icon size="large" src="{% static 'usuarios/img/home-outline.svg' %}"></ion-icon></a></span>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </form>
                    <a href="{% url 'logout' %}" type="button" class="btn btn-danger">Cerrar</a>
                </div>
            </nav>

            <!--Aqui se puede añadir elementos-->

                  <!-- Dark table -->
                  <div class="row m-3">
                    <div class="col">
                      <div class="card bg-default shadow">
                        <div class="card-header bg-transparent border-0">
                          <h3 class="text-white mb-1 ms-4"> <span class="text-warning">Accesos</span> {{ ciclo }} ({{ ciclo.porcentaje_obtenido }}%)</h3>
                          <div class="progress ms-4 me-4">
                            <div class="progress-bar bg-primary" placeholder="hola mundo" role="progressbar" style="width: {{ ciclo.porcentaje_obtenido }}%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          
                        </div>
                        <div class="table-responsive">
                          <table id="tbl-planear" class="table align-items-center table-light table-flush">

                              <thead class="">
                                <tr class="cabezera-estandar">
                                  <th scope="col"><h6> {{ estandar.descripcion }} ({{estandar.porcentaje_obtenido}}%) </h6>
                                  </th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>

                              <thead class="">
                                <tr class="cabezera-sub-estandar">
                                  <th scope="col text-dark">{{ sub_estandar }}
                                  </th>                                  
                                  <th scope="col">({{ sub_estandar.calificacion_obtenida }})%</th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              
                              <tbody>
                                
                                {% for item in item_estandar1 %}
                                <tr>
                                    <td scope="row">
                                      {{ item.descripcion }}
                                    </td>
                                    
                                    <td>
                                      <a class="accesos btn btn-warning text-dark" data-id="{% url 'permisos_usuarios_planear' item.pk %}" >Otorgar accesos</a>
                                    </td>
                                    <td>
                                      <a class="leer-permisos btn btn-primary" data-form-url="{% url 'leer_permisos' item.pk %}" >Ver accesos</a>
                                    </td>
                                  </tr>
                                {% endfor %}
                                  
                              </tbody>

                              <thead class="">
                                <tr class="cabezera-sub-estandar">
                                  <th scope="col text-dark">{{ sub_estandar2 }}
                                  </th>                                  
                                  <th scope="col">({{ sub_estandar2.calificacion_obtenida }})%</th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              
                              <tbody>
                                
                                {% for item in item_estandar2 %}
                                <tr>
                                    <td scope="row">
                                      {{ item.descripcion }}
                                    </td>
                                    
                                    <td>
                                      <a class="accesos btn btn-warning text-dark" data-id="{% url 'permisos_usuarios_planear' item.pk %}" >Otorgar accesos</a>
                                    </td>
                                    <td>
                                      <a class="leer-permisos btn btn-primary" data-form-url="{% url 'leer_permisos' item.pk %}" >Ver accesos</a>
                                    </td>
                                  </tr>
                                {% endfor %}
                                  
                              </tbody>

                              <thead class="">
                                <tr class="cabezera-estandar">
                                  <th scope="col"><h6>{{ estandar2.descripcion }} ({{estandar2.calificacion_obtenida}}%) </h6>
                                  </th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>

                              <thead class="">
                                <tr class="cabezera-sub-estandar">
                                  <th scope="col text-dark">{{ sub_estandar3 }}
                                  </th>                                  
                                  <th scope="col">({{ sub_estandar3.calificacion_obtenida }})%</th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              
                              <tbody>
                                
                                {% for item in item_estandar3 %}
                                <tr>
                                    <td scope="row">
                                      {{ item.descripcion }}
                                    </td>
                                    
                                    <td>
                                      <a class="accesos btn btn-warning text-dark" data-id="{% url 'permisos_usuarios_planear' item.pk %}" >Otorgar accesos</a>
                                    </td>
                                    <td>
                                      <a class="leer-permisos btn btn-primary" data-form-url="{% url 'leer_permisos' item.pk %}" >Ver accesos</a>
                                    </td>
                                  </tr>
                                {% endfor %}
                                  
                              </tbody>
                              <thead class="">
                                <tr class="cabezera-sub-estandar">
                                  <th scope="col text-dark">{{ sub_estandar4 }}
                                  </th>                                  
                                  <th scope="col">({{ sub_estandar4.calificacion_obtenida }})%</th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              
                              <tbody>
                                
                                {% for item in item_estandar4 %}
                                <tr>
                                    <td scope="row">
                                      {{ item.descripcion }}
                                    </td>
                                    
                                    <td>
                                      <a class="accesos btn btn-warning text-dark" data-id="{% url 'permisos_usuarios_planear' item.pk %}" >Otorgar accesos</a>
                                    </td>
                                    <td>
                                      <a class="leer-permisos btn btn-primary" data-form-url="{% url 'leer_permisos' item.pk %}" >Ver accesos</a>
                                    </td>
                                  </tr>
                                {% endfor %}
                                  
                              </tbody>
                              <thead class="">
                                <tr class="cabezera-sub-estandar">
                                  <th scope="col text-dark">{{ sub_estandar5 }}
                                  </th>                                  
                                  <th scope="col">({{ sub_estandar5.calificacion_obtenida }})%</th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              
                              <tbody>
                                
                                {% for item in item_estandar5 %}
                                <tr>
                                    <td scope="row">
                                      {{ item.descripcion }}
                                    </td>
                                    
                                    <td>
                                      <a class="accesos btn btn-warning text-dark" data-id="{% url 'permisos_usuarios_planear' item.pk %}" >Otorgar accesos</a>
                                    </td>
                                    <td>
                                      <a class="leer-permisos btn btn-primary" data-form-url="{% url 'leer_permisos' item.pk %}" >Ver accesos</a>
                                    </td>
                                  </tr>
                                {% endfor %}
                                  
                              </tbody>
                              <thead class="">
                                <tr class="cabezera-sub-estandar">
                                  <th scope="col text-dark">{{ sub_estandar6 }}
                                  </th>                                  
                                  <th scope="col">({{ sub_estandar6.calificacion_obtenida }})%</th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              
                              <tbody>
                                
                                {% for item in item_estandar6 %}
                                <tr>
                                    <td scope="row">
                                      {{ item.descripcion }}
                                    </td>
                                    
                                    <td>
                                      <a class="accesos btn btn-warning text-dark" data-id="{% url 'permisos_usuarios_planear' item.pk %}" >Otorgar accesos</a>
                                    </td>
                                    <td>
                                      <a class="leer-permisos btn btn-primary" data-form-url="{% url 'leer_permisos' item.pk %}" >Ver accesos</a>
                                    </td>
                                  </tr>
                                {% endfor %}
                                  
                              </tbody>
                              <thead class="">
                                <tr class="cabezera-sub-estandar">
                                  <th scope="col text-dark">{{ sub_estandar7 }}
                                  </th>                                  
                                  <th scope="col">({{ sub_estandar7.calificacion_obtenida }})%</th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              
                              <tbody>
                                
                                {% for item in item_estandar7 %}
                                <tr>
                                    <td scope="row">
                                      {{ item.descripcion }}
                                    </td>
                                    
                                    <td>
                                      <a class="accesos btn btn-warning text-dark" data-id="{% url 'permisos_usuarios_planear' item.pk %}" >Otorgar accesos</a>
                                    </td>
                                    <td>
                                      <a class="leer-permisos btn btn-primary" data-form-url="{% url 'leer_permisos' item.pk %}" >Ver accesos</a>
                                    </td>
                                  </tr>
                                {% endfor %}
                                  
                              </tbody>
                              <thead class="">
                                <tr class="cabezera-sub-estandar">
                                  <th scope="col text-dark">{{ sub_estandar8 }}
                                  </th>                                  
                                  <th scope="col">({{ sub_estandar8.calificacion_obtenida }})%</th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              
                              <tbody>
                                
                                {% for item in item_estandar8 %}
                                <tr>
                                    <td scope="row">
                                      {{ item.descripcion }}
                                    </td>
                                    
                                    <td>
                                      <a class="accesos btn btn-warning text-dark" data-id="{% url 'permisos_usuarios_planear' item.pk %}" >Otorgar accesos</a>
                                    </td>
                                    <td>
                                      <a class="leer-permisos btn btn-primary" data-form-url="{% url 'leer_permisos' item.pk %}" >Ver accesos</a>
                                    </td>
                                  </tr>
                                {% endfor %}
                                  
                              </tbody>
                              <thead class="">
                                <tr class="cabezera-sub-estandar">
                                  <th scope="col text-dark">{{ sub_estandar9 }}
                                  </th>                                  
                                  <th scope="col">({{ sub_estandar9.calificacion_obtenida }})%</th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              
                              <tbody>
                                
                                {% for item in item_estandar9 %}
                                <tr>
                                    <td scope="row">
                                      {{ item.descripcion }}
                                    </td>
                                    
                                    <td>
                                      <a class="accesos btn btn-warning text-dark" data-id="{% url 'permisos_usuarios_planear' item.pk %}" >Otorgar accesos</a>
                                    </td>
                                    <td>
                                      <a class="leer-permisos btn btn-primary" data-form-url="{% url 'leer_permisos' item.pk %}" >Ver accesos</a>
                                    </td>
                                  </tr>
                                {% endfor %}
                                  
                              </tbody>
                              <thead class="">
                                <tr class="cabezera-sub-estandar">
                                  <th scope="col text-dark">{{ sub_estandar10 }}
                                  </th>                                  
                                  <th scope="col">({{ sub_estandar10.calificacion_obtenida }})%</th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              
                              <tbody>
                                
                                {% for item in item_estandar10 %}
                                <tr>
                                    <td scope="row">
                                      {{ item.descripcion }}
                                    </td>
                                    
                                    <td>
                                      <a class="accesos btn btn-warning text-dark" data-id="{% url 'permisos_usuarios_planear' item.pk %}" >Otorgar accesos</a>
                                    </td>
                                    <td>
                                      <a class="leer-permisos btn btn-primary" data-form-url="{% url 'leer_permisos' item.pk %}" >Ver accesos</a>
                                    </td>
                                  </tr>
                                {% endfor %}
                                  
                              </tbody>
                              <thead class="">
                                <tr class="cabezera-sub-estandar">
                                  <th scope="col text-dark">{{ sub_estandar11 }}
                                  </th>                                  
                                  <th scope="col">({{ sub_estandar11.calificacion_obtenida }})%</th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              
                              <tbody>
                                
                                {% for item in item_estandar11 %}
                                <tr>
                                    <td scope="row">
                                      {{ item.descripcion }}
                                    </td>
                                    
                                    <td>
                                      <a class="accesos btn btn-warning text-dark" data-id="{% url 'permisos_usuarios_planear' item.pk %}" >Otorgar accesos</a>
                                    </td>
                                    <td>
                                      <a class="leer-permisos btn btn-primary" data-form-url="{% url 'leer_permisos' item.pk %}" >Ver accesos</a>
                                    </td>
                                  </tr>
                                {% endfor %}
                                  
                              </tbody>
                              <thead class="">
                                <tr class="cabezera-sub-estandar">
                                  <th scope="col text-dark">{{ sub_estandar12 }}
                                  </th>                                  
                                  <th scope="col">({{ sub_estandar12.calificacion_obtenida }})%</th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              
                              <tbody>
                                
                                {% for item in item_estandar12 %}
                                <tr>
                                    <td scope="row">
                                      {{ item.descripcion }}
                                    </td>
                                    
                                    <td>
                                      <a class="accesos btn btn-warning text-dark" data-id="{% url 'permisos_usuarios_planear' item.pk %}" >Otorgar accesos</a>
                                    </td>
                                    <td>
                                      <a class="leer-permisos btn btn-primary" data-form-url="{% url 'leer_permisos' item.pk %}" >Ver accesos</a>
                                    </td>
                                  </tr>
                                {% endfor %}
                                  
                              </tbody>
                              <thead class="">
                                <tr class="cabezera-sub-estandar">
                                  <th scope="col text-dark">{{ sub_estandar13 }}
                                  </th>                                  
                                  <th scope="col">({{ sub_estandar13.calificacion_obtenida }})%</th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              
                              <tbody>
                                
                                {% for item in item_estandar13 %}
                                <tr>
                                    <td scope="row">
                                      {{ item.descripcion }}
                                    </td>
                                    
                                    <td>
                                      <a class="accesos btn btn-warning text-dark" data-id="{% url 'permisos_usuarios_planear' item.pk %}" >Otorgar accesos</a>
                                    </td>
                                    <td>
                                      <a class="leer-permisos btn btn-primary" data-form-url="{% url 'leer_permisos' item.pk %}" >Ver accesos</a>
                                    </td>
                                  </tr>
                                {% endfor %}
                                  
                              </tbody>

                          </table>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <br>
    <footer class="bg-dark text-center text-white"  >
        <!-- Grid container -->
        <div class="container p-4 pb-0" >
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #3b5998;"
              href="#!"
              role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #55acee;"
              href="#!"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #dd4b39;"
              href="#!"
              role="button"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #ac2bac;"
              href="#!"
              role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #0082ca;"
              href="#!"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <!-- Github -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #333333;"
              href="#!"
              role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white" href="">Grupo Cinte</a>
        </div>
        <!-- Copyright -->
      </footer>
            </body>
            

        </div>


<!-- Modal -->
<div class="modal fade" id="subirArchivo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Subir archivo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        

        <div class="card">
          <div class="card-header">
            Previsualización de archivos subidos
          </div>
          <div class="card-body">

            <div class="container">
              <div class="row">
                  <div class="col text-center">
                    <p class="card-title">archivejemplo1.pdf <b class="text-danger">Eliminar</b></p>
                    <p class="card-title">archivoejemplo2.pdf <b class="text-danger">Eliminar</b></p>
                    <p class="card-title">archivoejemplo3.pdf <b class="text-danger">Eliminar</b></p>
                  </div>
                </div>
              </div>
            <br/>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-warning" type="button">Subir archivo</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Confirmar subida de archivos</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="ver" tabindex="-1" aria-labelledby="ver" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 60rem;">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Consultar evidencias</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
              <div class="modal-body" >
                  <div class="row">                                
                          <div class="col-lg-6">
                              <div class="card text-dark m-2 shadow-lg">
                                  <div class="card-header border-0">
                                      
                                  </div>
                                  <div class="card-header border-0">
                                      <h5 class="card-title">Nombre del recurso</h5>
                                      <button class="btn btn-primary">Descargar evidencias</button>
                                      <button class="btn btn-warning">Editar evidencias</button>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="card text-dark m-2 shadow-lg">
                                <div class="card-header border-0">
                                </div>
                                <div class="card-header border-0">
                                  <h5 class="card-title">Nombre del recurso</h5>
                                  <button class="btn btn-primary">Descargar evidencias</button>
                                  <button class="btn btn-warning">Editar evidencias</button>
                              </div>
                            </div>
                        </div>
                  </div>
              </div>
      </div>
  </div>


</div>



    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
    {% endblock %}
    <script src="{% static 'usuarios/js/sidebar.js' %}"></script>
    <script src="{% static 'usuarios/js/accionesMenu.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
                  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- JavaScript -->
    {% block scripts %}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'usuarios/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'usuarios/js/popper.min.js' %}"></script>
    <script src="{% static 'usuarios/js/bootstrap.min.js' %}"></script>
    <!-- You can alternatively load the minified version -->
    <script src="{% static 'usuarios/js/jquery.bootstrap.modal.forms.js' %}"></script>
    {% endblock scripts %}
    {% block extrascripts %}
    <script type="text/javascript">

      {# Update Item Modal Form #}
      $(function () {
        $(".accesos").each(function () {
            $(this).modalForm({formURL: $(this).data('id')});
        });
      });

      // Leer 
      function leerPermisosModalForm() {
        $(".leer-permisos").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url")});
        });
      }
      leerPermisosModalForm();
      // Leer 
      function estadoModalForm() {
        $(".estado").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url")});
        });
      }
      estadoModalForm();

      // ajax
      $(document).ready(function () {
        // catch the form's submit event
        $("input[id='op1']:radio").click(function () {
            // create an AJAX call
            $.ajax({
                data: $(this).serialize(), // get the form data
                url: "{% url 'calificar_planear' %}",
                // on success
                success: function (response) {
                  console.log('resuelto')
                  $("#op2").prop("checked" , false)
                  $("#op3").prop("checked" , false)
                  $("#op1").prop("checked" , true) 
                  
                },
                // on error
                error: function (response) {
                    // alert the error if any error occured
                    //console.log(response.responseJSON.errors)
                }
            });
            return false;
        });
        $("input[id='op2']:radio").click(function () {
          // create an AJAX call
          $.ajax({
              data: $(this).serialize(), // get the form data
              url: "{% url 'calificar_planear' %}",
              // on success
              success: function (response) {
                console.log('resuelto')
                $("#op1").prop("checked" , false)
                $("#op3").prop("checked" , false) 
                $("#op2").prop("checked" , true) 
              },
              // on error
              error: function (response) {
                  // alert the error if any error occured
                  //console.log(response.responseJSON.errors)
              }
          });
          return false;
        });
        $("input[id='op3']:radio").click(function () {
          // create an AJAX call
          $.ajax({
              data: $(this).serialize(), // get the form data
              url: "{% url 'calificar_planear' %}",
              // on success
              success: function (response) {
                console.log('resuelto')
                $("#op1").prop("checked" , false) 
                $("#op2").prop("checked" , false)
                $("#op3").prop("checked" , true)
              },
              // on error
              error: function (response) {
                  // alert the error if any error occured
                  //console.log(response.responseJSON.errors)
              }
          });
          return false;
        });
      })
      
    </script>    
    {% endblock extrascripts %}
</body>

</html>