<!--Hereda de tema.html (el padre)-->
{% extends "usuarios/tema.html" %}
{% load static %}

<!--Título de la página-->
{% block title %}Covid 19{% endblock %}

<!--Estilos especificos de esta página-->
{% block extrastyles %}
<link rel="stylesheet" href="{% static 'usuarios/css/tablas.css' %}">
{% endblock extrastyles %}

<!--Contenido de la página-->
{% block content %}
    <!--Incluye el modal-->
    {% include "usuarios/_modal.html" %}
<!-- Dark table -->
<div class="row m-3">
    <div class="col">
        <div class="card bg-default shadow">
            <div class="card-header border-0" id="header-table">
            <h3 class="text-white mb-1 ms-4">Casos por cliente</h3>
            <button id="crear-cliente" class="btn btn-primary">Registrar Cliente</button>
        </div>
        <div class="table-responsive">
            <table id="tbl-planear" class="table align-items-center table-light table-flush">
                <thead class="">
                    <tr class="cabezera-sub-estandar">
                        <th scope="col text-dark">Cliente</th>                                  
                        <th scope="col">Ver años</th>
                        <th scope="col">Casos totales</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in casos_cliente %}
                    <tr>
                        <td scope="row">
                            {{ item.nombre_cliente }}
                        </td>
                        <td scope="row">
                            <a class="leer-anuales btn btn-primary" data-form-url="{% url 'leer_anuales_cliente' item.pk %}" >Años</a>
                        </td>
                        <td scope="row">
                            {{ item.total_casos }}
                        </td>
                        <td scope="row">
                            <a class="editar-cliente btn btn-danger text-light" data-form-url="{% url 'editar_casos_cliente_nombre' item.pk %}" >Editar</a>
                        </td>
                        <td scope="row">
                            <a class="eliminar-cliente btn btn-danger text-light" data-form-url="{% url 'eliminar_caso_cliente' item.pk %}" >Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
</div>
{% endblock %}

<!--Scripts extras-->
{% block extrascripts %}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
{% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({  
                "title": "Felicitaciones",
                "text": "{{m}}",
                "icon": "success",
                "confirmButtonColor":"#172b4d"
            })
        </script>
    {% endfor %}
{% endif %}
<script type="text/javascript">
// Leer años
    $("#crear-cliente").modalForm({
        formURL: "{% url 'registrar_caso_cliente' %}"
    });


function pruebaModalForm() {
    $(".casos-cliente").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url")});
    });
}
pruebaModalForm();

// Leer 
function leerEvidenciasModalForm() {
    $(".leer-anuales").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url")});
    });
}
leerEvidenciasModalForm();


// Delete book buttons - formURL is retrieved from the data of the element
function eliminarClienteModalForm() {
    $(".eliminar-cliente").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
    });
}
eliminarClienteModalForm();


{# Update Item Modal Form #}
function pruebaModalForm() {
    $(".editar-cliente").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url")});
    });
}
pruebaModalForm();
</script>
{% endblock %}