<!--Hereda de tema.html (el padre)-->
{% extends "usuarios/tema.html" %}
{% load static %}

<!--Título de la página-->
{% block title %}Covid 19{% endblock %}

<!--Estilos especificos de esta página-->
{% block extrastyles %}
<link rel="stylesheet" href="{% static 'usuarios/css/tablas.css' %}">
{% endblock extrastyles %}

<!--Contenido de la página-->
{% block content %}
    <!--Incluye el modal-->
    {% include "usuarios/_modal.html" %}
<!-- Dark table -->
<div class="container">
    <div class="row">
        <div class="col m-3">
            <div class="row">
                <div class="card shadow-lg mb-3" style="width:13rem;">
                    <div class="card-body">
                        <div><a href="{% url 'leer_anuales' %}" class="btn btn-primary">Gestión de años</a></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card shadow-lg" style="width:27rem;">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Tablas de datos covid-19</h5>
                        <div class="container m-4">
                            <div class="card-title row">Pruebas covid <a href="{% url 'pruebas_covid' %}" class="btn btn-primary p-2 m-2">Ver</a></div>
                            <div class="card-title row">Epidemología <a href="{% url 'epidemologia' %}" class="btn btn-primary p-2 m-2">Ver</a></div>
                            <div class="card-title row">Incapacidades <a href="{% url 'incapacidades' %}" class="btn btn-primary p-2 m-2">Ver</a></div>
                            <div class="card-title row">Incidencias <a href="{% url 'incidencias' %}" class="btn btn-primary p-2 m-2">Ver</a></div>
                            <div class="card-title row">Tipo de caso sospechoso <a href="{% url 'tipo_caso_sospechoso' %}" class="btn btn-primary p-2 m-2">Ver</a></div>
                            <div class="card-title row">Casos por cliente <a href="{% url 'casos_cliente' %}" class="btn btn-primary p-2 m-2">Ver</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="pt-3" id="container" style="width: 58%; height: 70%;">
            <canvas id="bar-chart"></canvas>
        </div>
    </div>
</div>
{% endblock %}

<!--Scripts extras-->
{% block extrascripts %}

<script>
    var config = {
    type: 'bar',
    data: {
        datasets: [{
        data: {{ data|safe }},
        backgroundColor: [
            '#41b751', '#ffc332', '#fc367b', '#ff7d00'
        ],
        label: 'Covid 19'
        }],
        labels: {{ labels|safe }}
    },
    options: {
        responsive: true
    }
    };
    window.onload = function() {
    var ctx = document.getElementById('bar-chart').getContext('2d');
    window.myPie = new Chart(ctx, config);
    };
</script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
{% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({  
                "title": "Felicitaciones",
                "text": "{{m}}",
                "icon": "success",
                "confirmButtonColor":"#172b4d"
            })
        </script>
    {% endfor %}
{% endif %}
<script type="text/javascript">
//{# Update Item Modal Form #}
$(function () {
    // Create book synchronous
    function CrearUsuarioSyncModalForm() {
    $("#create-user").modalForm({
        formURL: "{% url 'registrar_usuario' %}",
        modalID: "#create-modal"
    });
    }
    CrearUsuarioSyncModalForm();
    
    $("#create-admin").modalForm({
        formURL: "{% url 'registrar_administrador' %}"
    });
});
</script>
{% endblock %}