<!--Hereda de tema.html (el padre)-->
{% extends "usuarios/tema.html" %}
{% load static %}

<!--Título de la página-->
{% block title %}Evidencias de usuarios{% endblock %}

<!--Estilos especificos de esta página-->
{% block extrastyles %}
<link rel="stylesheet" href="{% static 'usuarios/css/tablas.css' %}">
{% endblock extrastyles %}

<!--Contenido de la página-->
{% block content %}
  <!--Incluye el modal-->
  {% include "usuarios/_modal.html" %}
  <div class="fondo" id="container"></div>
  <div class="menumain">

      <div class='hidden' id="menu1">
          <!-- Menu content, hidden by default -->
          <h1>PLANEAR</h1>
          <!--<?php echo "$n1 es el " . porcentaje($total, $n1, 2) . "% de $total <br>";?>-->
      </div>
      <div class='hidden' id="menu2">
          <h1>HACER</h1>

      </div>
      <div class='hidden' id="menu3">
          <h1>VERIFICAR</h1>

      </div>
      <div class='hidden' id="menu4">
          <h1>CSSSCRIPT.COM</h1>

      </div>
      <div class='hidden' id="menu5">
          <h1>ACTUAR</h1>

      </div>
      <div class='hidden' id="menu6">
          <h1>COVID-19</h1>

      </div>
      <div class='hidden' id="menu7">
          <h1>GESTION</h1>
          <h1>AMBIENTAL</h1>
          <!--<?php echo "$n1 es el " . porcentaje($total, $n1, 2) . "% de $total <br>";?>-->
      </div>
      <div class='visible' id="menu8">
          <h1>Menu</h1>
          <p class="menudesc">Ciclos SG-SST</p>
      </div>
      <nav class="menunav">
          <!--	<div class="cold-md-7 text-center text-md-start"></div> </nav>prueba-->


          <ul class='circle'>
              <!--PRUEBA-->

              <li class='coconut light slice'>
                  <label for='ococonut' class='circle over'><span class="over" id="1"
                          name="planear"><a href="{% url 'accesos_planear' %}" style="text-decoration:none;">PLANEAR</a></span><b></b></label>
                          
              </li>

              <li class='vanilla light slice'>
                  <label for='ovanilla' class='circle over'><span class="over" id="2"
                          name="hacer"><a href="{% url 'accesos_hacer' %}" style="text-decoration:none;">HACER</a></span></label>
              </li>


              <li class='orange light slice'>
                  <label for='oorange' class='circle'><span class="over" id="3"
                          name="verificar"><a href="{% url 'accesos_verificar' %}" style="text-decoration:none;">VERIFICAR</a></span></label>
              </li>



              <li class='grape light slice'>
                  <label for='ogrape' class='circle'><span class="over" id="5"
                          name="ACTUAR"><a href="{% url 'accesos_actuar' %}" style="text-decoration:none;">ACTUAR</a></span></label>
              </li>
              <li class='blackberry dark slice'>
                  <label for='oblackberry' class='circle'><span class="over" id="6"
                          name="covid">COVID-19</span></label>
              </li>
              <li class='cherry dark slice'>
                  <label for='ocherry' class='circle'><span class="over" id="7">GESTION AMBIENTAL
                      </span></label>
              </li>
              <li class='unsel circle'>
                  <label for='unsel' class="clicky menuname"><a href="{% url 'grafico_phva' %}" style="text-decoration:none;">SG-SST</a></label>
              </li>
              <li class='middle circle'></li>
          </ul>
      </nav>
  </div>
{% endblock %}

<!--Scripts extras-->
{% block extrascripts %}

{% endblock %}
