<!--Hereda de tema.html (el padre)-->
{% extends "usuarios/tema.html" %}
{% load static %}

<!--Título de la página-->
{% block title %}Gestión de usuarios{% endblock %}

<!--Estilos especificos de esta página-->
{% block extrastyles %}
<link rel="stylesheet" href="{% static 'usuarios/css/tablas.css' %}">
{% endblock extrastyles %}

<!--Contenido de la página-->
{% block content %}
  <!--Incluye el modal-->
  {% include "usuarios/_modal.html" %}
<!-- Dark table -->
<div class="row m-3">
  <div class="col">
    <div class="card bg-default shadow">
      <div class="card-header border-0" id="header-table">
        <h3 class="text-white mb-1 ms-4">Gestión de usuarios</h3>
        <button id="create-user" class="btn btn-primary" type="button" name="button">
          <span class="fa fa-plus mr-2"></span>Registrar usuario
        </button> 
        <button id="create-admin" class="btn btn-primary" type="button" name="button">
          <span class="fa fa-plus mr-2"></span>Registrar Administrador
        </button>  
      </div>
      <div class="table-responsive">
        <table id="tbl-planear" class="table align-items-center table-light table-flush">

            <thead class="">
              <tr class="cabezera-estandar">
                <th scope="col">Usuario
                </th>
                <th scope="col">Correo</th>
                <th scope="col">Rol</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            
            <tbody>
              
              {% for item in usuarios %}
              <tr>
                  <td scope="row">
                      {{ item.username }}
                  </td>
                  <td scope="row">
                      {{ item.email }}
                  </td>
                  <td scope="row">
                    {% if item.es_administrador %}
                      <span>Administrador</span>
                    {% elif item.es_usuario %}
                      <span>Usuario</span>
                    {% else %}
                      <span>Sin rol</span>
                    {% endif %}
                  </td>
                  <td scope="row">
                      <a class="btn btn-warning text-dark" href="{% url 'estado_usuarios' item.pk %}" >Cambiar estado</a>
                  </td>
                  <td scope="row">
                      {% if item.is_active %}
                          <span><img height="35px" width="35px" src="{% static 'usuarios/img/si.png' %}" alt=""/></span>
                      {% else %}
                          <span><img height="35px" width="35px" src="{% static 'usuarios/img/no.png' %}" alt=""/></span>
                      {% endif %}
                  </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!--Scripts extras-->
{% block extrascripts %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
{% if messages %}
    {% for m in messages %}
        <script>
          Swal.fire({  
              "title": "Felicitaciones",
              "text": "{{m}}",
              "icon": "success",
              "confirmButtonColor":"#172b4d"
          })
        </script>
    {% endfor %}
{% endif %}
<script type="text/javascript">

  {# Update Item Modal Form #}
  $(function () {
    // Create book synchronous
    function CrearUsuarioSyncModalForm() {
        $("#create-user").modalForm({
          formURL: "{% url 'registrar_usuario' %}",
          modalID: "#create-modal"
        });
      }
    CrearUsuarioSyncModalForm();

    function CrearAdministradorSyncModalForm() {
      $("#create-admin").modalForm({
        formURL: "{% url 'registrar_administrador' %}",
        modalID: "#create-modal"
      });
    }
    CrearAdministradorSyncModalForm();
    });

</script>
{% endblock %}