<!--Hereda de tema.html (el padre)-->
{% extends "usuarios/tema.html" %}
{% load static %}

<!--Título de la página-->
{% block title %}Verificar{% endblock %}

<!--Estilos especificos de esta página-->
{% block extrastyles %}
<link rel="stylesheet" href="{% static 'usuarios/css/tablas.css' %}">
{% endblock extrastyles %}

<!--Contenido de la página-->
{% block content %}
  <!--Incluye el modal-->
  {% include "usuarios/_modal.html" %}
<!-- Dark table -->
<div class="row m-3">
  <div class="col">
    <div class="card bg-default shadow">
      <div class="card-header border-0" id="header-table">
        <h3 class="text-white mb-1 ms-4">Gestión ambiental</h3>
      </div>
      <div class="table-responsive">
        <table id="tbl-planear" class="table align-items-center table-light table-flush">

            <thead class="">
                <tr class="cabezera-sub-estandar">
                    <th scope="col text-dark"><h6>Nombre<h6>
                    </th>
                    <th scope="col"></th>
                    {% if user.es_administrador or user.es_gestor %}
                        <th scope="col"></th>
                    {% endif %}
                </tr>
            </thead>
            
            <tbody>

                {% for item in gestion_ambiental %}
                <tr>
                    <td scope="row">
                        {{ item.descripcion }}
                    </td>
                    {% if user.es_administrador or user.es_gestor %}
                        <td>
                            <a class="create btn btn-warning text-dark" data-id="{% url 'registrar_evidencia_gestion_ambiental' item.pk %}" >Cargar evidencias</a>
                        </td>
                    {% endif %}
                    <td>
                        <a class="leer-evidencias btn btn-primary" data-form-url="{% url 'leer_evidencias_gestion_ambiental' item.pk %}" >Ver evidencias</a>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!--Scripts extras-->
{% block extrascripts %}
<script type="text/javascript">

    {# Update Item Modal Form #}
    $(function () {
        $(".create").each(function () {
            $(this).modalForm({formURL: $(this).data('id')});
        });
    });

    // Leer 
    function leerEvidenciasModalForm() {
        $(".leer-evidencias").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url")});
        });
    }
    leerEvidenciasModalForm();

    // Leer 
    function estadoModalForm() {
        $(".estado").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url")});
        });
    }
    estadoModalForm();      
</script>
{% endblock %}