{% extends "usuarios/tema.html" %}
{% block title %}Gráfico{% endblock %}
{% load widget_tweaks %}
{% block content %}
  {% if 'anual' in request.GET %}
    <div id="container" style="width: 100%;">
      <canvas id="bar-chart"></canvas>
    </div>
  {% endif %}
  
  <script>
    var config = {
    type: 'bar',
    data: {
        datasets: [{
        data: {{ data|safe }},
        backgroundColor: [
            {{ colors|safe }}
        ],
        label: ' '
        }],
        labels: {{ labels|safe }}
    },
    options: {
        responsive: true
    }
    };
    window.onload = function() {
    var ctx = document.getElementById('bar-chart').getContext('2d');
    window.myPie = new Chart(ctx, config);
    };
  </script>
{% endblock %}

