{% extends "usuarios/tema.html" %}
{% block title %}Gráfico{% endblock %}
{% load widget_tweaks %}
{% block content %}
  <div id="container" style="width: 100%;">
      <canvas id="bar-chart"></canvas>
  </div>
  <script>
    var config = {
    type: 'bar',
    data: {
        datasets: [{
        data: {{ data|safe }},
        backgroundColor: [
            '#41b751', '#ffc332', '#fc367b', '#ff7d00'
        ],
        label: 'Phva'
        }],
        labels: {{ labels|safe }}
    },
    options: {
        responsive: true
    }
    };
    window.onload = function() {
    var ctx = document.getElementById('bar-chart').getContext('2d');
    window.myPie = new Chart(ctx, config);
    };
  </script>
{% endblock %}

