<!--Hereda de tema.html (el padre)-->
{% extends "usuarios/tema.html" %}
{% load static %}

<!--Título de la página-->
{% block title %}Hacer{% endblock %}

<!--Estilos especificos de esta página-->
{% block extrastyles %}
<link rel="stylesheet" href="{% static 'usuarios/css/tablas.css' %}">
{% endblock extrastyles %}

<!--Contenido de la página-->
{% block content %}
  <!--Incluye el modal-->
  {% include "usuarios/_modal.html" %}
  <div class="row m-3">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header border-0" id="header-table">
          <h2 class="text-white mb-1 ms-4">{{ ciclo }} ({{ciclo.calificacion_obtenida}}% - 60%)</h2>
          <div class="progress ms-4 me-4">
            <div class="progress-bar bg-primary" placeholder="hola mundo" role="progressbar" style="width: {{ciclo.porcentaje_obtenido}}%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="table-responsive">
          <table id="tbl-planear" class="table align-items-center table-light table-flush">
  
              <thead class="">
                <tr class="cabezera-estandar">
                  <th scope="col"><h6> {{ estandar.descripcion }} ({{estandar.calificacion_obtenida}}% - 20%) </h6>
                  </th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
  
              <thead class="">
                <tr class="cabezera-sub-estandar">
                  <th scope="col text-dark"><h6>{{ sub_estandar }}</h6>
                  </th>                                  
                  <th scope="col"><h6>({{ sub_estandar.calificacion_obtenida }})% - (9.0)% </h6></th>
                  <th scope="col"></th>
                  <th scope="col">Estado</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              
              <tbody>
                
                {% for item in item_estandar1 %}
                <tr>
                    <td scope="row">
                      {{ item.descripcion }}
                    </td>
                    
                    <td>
                      <a class="create btn btn-warning text-dark" data-id="{% url 'registrar_evidencia_hacer' item.pk %}" >Cargar evidencias</a>
                    </td>
                    <td>
                      <a class="leer-evidencias btn btn-primary" data-form-url="{% url 'leer_evidencias' item.pk %}" >Ver evidencias</a>
                    </td>
                    <td>
                      <a>{{ item.fk_estado }}</a>
                    </td>
                    <td>                                      
                      <button type="button" class="estado btn btn-sm btn-primary" data-form-url="{% url 'estado_item_hacer' item.pk %}">
                        Calificar
                      </button>                                      
                    </td>
                  </tr>
                {% endfor %}
                  
              </tbody>
  
              <thead class="">
                <tr class="cabezera-sub-estandar">
                  <th scope="col text-dark"><h6>{{ sub_estandar2 }}</h6>
                  </th>                                  
                  <th scope="col"><h6>({{ sub_estandar2.calificacion_obtenida }})% - (5.0)%</h6></th>
                  <th scope="col"></th>
                  <th scope="col">Estado</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              
              <tbody>
                
                {% for item in item_estandar2 %}
                <tr>
                    <td scope="row">
                      {{ item.descripcion }}
                    </td>
                    
                    <td>
                      <a class="create btn btn-warning text-dark" data-id="{% url 'registrar_evidencia_hacer' item.pk %}" >Cargar evidencias</a>
                    </td>
                    <td>
                      <a class="leer-evidencias btn btn-primary" data-form-url="{% url 'leer_evidencias' item.pk %}" >Ver evidencias</a>
                    </td>
                    <td>
                      <a>{{ item.fk_estado }}</a>
                    </td>
                    <td>                                      
                      <button type="button" class="estado btn btn-sm btn-primary" data-form-url="{% url 'estado_item_hacer' item.pk %}">
                        Calificar
                      </button>                                      
                    </td>
                  </tr>
                {% endfor %}
                  
              </tbody>
  
              <thead class="">
                <tr class="cabezera-sub-estandar">
                  <th scope="col text-dark"><h6>{{ sub_estandar3 }}</h6>
                  </th>                                  
                  <th scope="col"><h6>({{ sub_estandar3.calificacion_obtenida }})% - (6.0)%</h6></th>
                  <th scope="col"></th>
                  <th scope="col">Estado</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              
              <tbody>
                
                {% for item in item_estandar3 %}
                <tr>
                    <td scope="row">
                      {{ item.descripcion }}
                    </td>
                    
                    <td>
                      <a class="create btn btn-warning text-dark" data-id="{% url 'registrar_evidencia_hacer' item.pk %}" >Cargar evidencias</a>
                    </td>
                    <td>
                      <a class="leer-evidencias btn btn-primary" data-form-url="{% url 'leer_evidencias' item.pk %}" >Ver evidencias</a>
                    </td>
                    <td>
                      <a>{{ item.fk_estado }}</a>
                    </td>
                    <td>                                      
                      <button type="button" class="estado btn btn-sm btn-primary" data-form-url="{% url 'estado_item_hacer' item.pk %}">
                        Calificar
                      </button>                                      
                    </td>
                  </tr>
                {% endfor %}
                  
              </tbody>
  
              <thead class="">
                <tr class="cabezera-estandar">
                  <th scope="col"><h6>{{ estandar2.descripcion }} ({{estandar2.calificacion_obtenida}}%) - (30)%</h6>
                  </th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
  
              <thead class="">
                <tr class="cabezera-sub-estandar">
                  <th scope="col text-dark"><h6>{{ sub_estandar4 }}</h6>
                  </th>                                  
                  <th scope="col"><h6>({{ sub_estandar4.calificacion_obtenida }})% - (15)%</h6></th>
                  <th scope="col"></th>
                  <th scope="col">Estado</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              
              <tbody>
                
                {% for item in item_estandar4 %}
                <tr>
                    <td scope="row">
                      {{ item.descripcion }}
                    </td>
                    
                    <td>
                      <a class="create btn btn-warning text-dark" data-id="{% url 'registrar_evidencia_hacer' item.pk %}" >Cargar evidencias</a>
                    </td>
                    <td>
                      <a class="leer-evidencias btn btn-primary" data-form-url="{% url 'leer_evidencias' item.pk %}" >Ver evidencias</a>
                    </td>
                    <td>
                      <a>{{ item.fk_estado }}</a>
                    </td>
                    <td>                                      
                      <button type="button" class="estado btn btn-sm btn-primary" data-form-url="{% url 'estado_item_hacer' item.pk %}">
                        Calificar
                      </button>                                      
                    </td>
                  </tr>
                {% endfor %}
                  
              </tbody>
  
              <thead class="">
                <tr class="cabezera-sub-estandar">
                  <th scope="col text-dark"><h6>{{ sub_estandar5 }}</h6>
                  </th>                                  
                  <th scope="col"><h6>({{ sub_estandar5.calificacion_obtenida }})% - (15)%</h6></th>
                  <th scope="col"></th>
                  <th scope="col">Estado</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              
              <tbody>
                
                {% for item in item_estandar5 %}
                <tr>
                    <td scope="row">
                      {{ item.descripcion }}
                    </td>
                    
                    <td>
                      <a class="create btn btn-warning text-dark" data-id="{% url 'registrar_evidencia_hacer' item.pk %}" >Cargar evidencias</a>
                    </td>
                    <td>
                      <a class="leer-evidencias btn btn-primary" data-form-url="{% url 'leer_evidencias' item.pk %}" >Ver evidencias</a>
                    </td>
                    <td>
                      <a>{{ item.fk_estado }}</a>
                    </td>
                    <td>                                      
                      <button type="button" class="estado btn btn-sm btn-primary" data-form-url="{% url 'estado_item_hacer' item.pk %}">
                        Calificar
                      </button>                                      
                    </td>
                  </tr>
                {% endfor %}
                  
              </tbody>
  
              <thead class="">
                <tr class="cabezera-estandar">
                  <th scope="col"><h6>{{ estandar3.descripcion }} ({{estandar3.calificacion_obtenida}}%) - (10)%</h6>
                  </th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
  
              <thead class="">
                <tr class="cabezera-sub-estandar">
                  <th scope="col text-dark"><h6>{{ sub_estandar6 }}</h6>
                  </th>                                  
                  <th scope="col"><h6>({{ sub_estandar6.calificacion_obtenida }})% - (10)%</h6></th>
                  <th scope="col"></th>
                  <th scope="col">Estado</th>
                  <th scope="col"></th>
                </tr>
              </thead>
  
              <tbody>
                
                {% for item in item_estandar6 %}
                <tr>
                    <td scope="row">
                      {{ item.descripcion }}
                    </td>
                    
                    <td>
                      <a class="create btn btn-warning text-dark" data-id="{% url 'registrar_evidencia_hacer' item.pk %}" >Cargar evidencias</a>
                    </td>
                    <td>
                      <a class="leer-evidencias btn btn-primary" data-form-url="{% url 'leer_evidencias' item.pk %}" >Ver evidencias</a>
                    </td>
                    <td>
                      <a>{{ item.fk_estado }}</a>
                    </td>
                    <td>                                      
                      <button type="button" class="estado btn btn-sm btn-primary" data-form-url="{% url 'estado_item_hacer' item.pk %}">
                        Calificar
                      </button>                                      
                    </td>
                  </tr>
                {% endfor %}
                  
              </tbody>
  
          </table>
          
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<!--Scripts extras-->
{% block extrascripts %}
<script type="text/javascript">

  {# Update Item Modal Form #}
  $(function () {
      $(".create").each(function () {
          $(this).modalForm({formURL: $(this).data('id')});
      });
  });

  // Leer 
  function leerEvidenciasModalForm() {
    $(".leer-evidencias").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url")});
    });
  }
  leerEvidenciasModalForm();

  // Leer 
  function estadoModalForm() {
    $(".estado").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url")});
    });
  }
  estadoModalForm();
  
</script>
{% endblock %}
