<!--Hereda de tema.html (el padre)-->
{% extends "usuarios/tema.html" %}
{% load static %}

<!--Título de la página-->
{% block title %}Covid 19{% endblock %}

<!--Estilos especificos de esta página-->
{% block extrastyles %}
<link rel="stylesheet" href="{% static 'usuarios/css/tablas.css' %}">
{% endblock extrastyles %}

<!--Contenido de la página-->
{% block content %}
    <!--Incluye el modal-->
    {% include "usuarios/_modal.html" %}
<!-- Dark table -->
<div class="row m-3">
    <div class="col">
        <div class="card bg-default shadow">
            <div class="card-header border-0" id="header-table">
            <h3 class="text-white mb-1 ms-4">Incapacidades covid</h3>
        </div>
        <div class="table-responsive">
            <table id="tbl-planear" class="table align-items-center table-light table-flush">
                <thead class="">
                    <tr class="cabezera-sub-estandar">
                        <th scope="col text-dark">Año</th>                                  
                        <th scope="col">Casos positivos con incapacidad</th>
                        <th scope="col">Número incapacidades</th>
                        <th scope="col">Número dias perdidos covid</th>
                        <th scope="col">Casos negativos sin prueba con incapacidad</th>
                        <th scope="col">Número de incapacidades</th>
                        <th scope="col">Número dias perdidos por sospecha</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in incapacidades_covid %}
                    <tr>
                        <td scope="row">
                            {{ item.fk_registro_anual }}
                        </td>
                        <td scope="row">
                            {{ item.casos_positivos_con_incapacidad }}
                        </td>
                        <td>
                            {{ item.numero_incapacidades }}
                        </td>
                        <td>
                            {{ item.numero_dias_perdidos_covid }}
                        </td>
                        <td>
                            {{ item.casos_negativos_sin_prueba_con_incapacidad }}
                        </td>
                        <td>                                      
                            {{ item.numero_incapacidades }}
                        </td>
                        <td>
                            {{ item.numero_dias_perdidos_sospecha }}
                        </td>
                        <td>
                            {% if user.es_administrador %}
                                <button type="button" class="incapacidades btn btn-sm btn-primary" data-form-url="{% url 'editar_incapacidad' item.pk %}">
                                    Calificar
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
</div>
{% endblock %}

<!--Scripts extras-->
{% block extrascripts %}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
{% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({  
                "title": "Felicitaciones",
                "text": "{{m}}",
                "icon": "success",
                "confirmButtonColor":"#172b4d"
            })
        </script>
    {% endfor %}
{% endif %}
<script type="text/javascript">
// Leer años
function leerAnualModalForm() {
    $(".leer-anual").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url")});
    });
}

function pruebaModalForm() {
    $(".incapacidades").each(function () {
        $(this).modalForm({formURL: $(this).data("form-url")});
    });
}
pruebaModalForm();
</script>
{% endblock %}