{% load widget_tweaks %}

<div class="modal-header">
  <h3 class="modal-title">Usuarios con acceso a este item </h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class="row">
    {% for i in usuarios %}
    <div class="col-lg-6">
      <div class="card text-dark m-2 shadow-lg">
          <div class="card-header border-0">
              
          </div>
          <div class="card-header border-0">
              <h5 class="card-title"> {{ i.username }}</h5>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
</div>

{% block extrascripts %}
    <script type="text/javascript">
      function deleteBookModalForm() {
        $(".eliminar-evidencia").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
        });
      }
      deleteBookModalForm();
    </script>
{% endblock extrascripts %}