{% load widget_tweaks %}

<div class="modal-header">
  <h3 class="modal-title">Evidencias </h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class="row">
    {% for i in evidencias %}
    <div class="col-lg-6">
      <div class="card text-dark m-2 shadow-lg">
          <div class="card-header border-0">
              
          </div>
          <div class="card-header border-0">
              <h5 class="card-title text-dark">Nombre del recurso</h5>
              <p>{{ i.nombre_evidencia }}</p>
              <p>{{ i.fk_item_estandar }}</p>
              <p>Ver</p>
              <hr>
              <a class="btn btn-primary" href="{{ i.formato.url }}" target="_blank" rel="noopener noreferrer"> Descargar </a>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
</div>

{% block extrascripts %}
    <script type="text/javascript">
      function deleteBookModalForm() {
        $(".eliminar-evidencia").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
        });
      }
      deleteBookModalForm();
    </script>
{% endblock extrascripts %}