<!--Hereda de tema.html (el padre)-->
{% extends "usuarios/tema.html" %}
{% load static %}

<!--Título de la página-->
{% block title %}Perfil{% endblock %}

<!--Estilos especificos de esta página-->
{% block extrastyles %}
<link rel="stylesheet" href="{% static 'usuarios/css/tablas.css' %}">
{% endblock extrastyles %}

<!--Contenido de la página-->
{% block content %}
  <!--Incluye el modal-->
  {% include "usuarios/_modal.html" %}
  <br>
        <br>
  <div class="container">
    <div class="row">
      <div class="col text-center shadow-lg">
        <div class="card">
          <div class="card-body">
          <h2 class="card-title text-dark">Perfil</h2>
          <br>
          <h6 class="card-subtitle mb-2 text-muted">Información personal</h6>
          <p class="card-text">Nombre: {{user.username}}</p>
          <p class="card-text">Correo cinte: {{user.email}}</p>
          <a class="clave btn btn-primary" data-form-url="{% url 'cambiar_clave' user.pk %}">Cambiar clave</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<!--Scripts extras-->
{% block extrascripts %}
  <script type="text/javascript">
    {# Update Item Modal Form #}
    $(function () {
      // Create book synchronous
      function claveModalForm() {
        $(".clave").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url")});
        });
      }
      claveModalForm();
    });
  </script>
{% endblock %}