<!--Hereda de tema.html (el padre)-->
{% extends "usuarios/tema.html" %}
{% load static %}

<!--Título de la página-->
{% block title %}Resultados{% endblock %}

<!--Estilos especificos de esta página-->
{% block extrastyles %}
<link rel="stylesheet" href="{% static 'usuarios/css/tablas.css' %}">
{% endblock extrastyles %}

<!--Contenido de la página-->
{% block content %}
  <!--Incluye el modal-->
  {% include "usuarios/_modal.html" %}
  <div class="container">    
        <h1>Resultados de busqueda</h1><br>  
        {% if user.es_administrador %}
            {% for item in respuestas_post %}  
                <h4>{{ item.descripcion }}</h4>
                <a class="btn btn-primary" href="{% url item.fk_sub_estandar.fk_estandar.fk_ciclo.descripcion|lower %}">Ir</a>
            {% endfor %}
        {% endif %}  
            {% for item in respuestas_post %}  
                <h4>{{ item.descripcion }}</h4>
                <a class="btn btn-primary" href=" 
                    {% if user.es_administrador %}
                        {% url item.fk_sub_estandar.fk_estandar.fk_ciclo.descripcion|lower %}
                    {% elif user.es_usuario %}
                        {% if item.fk_sub_estandar.fk_estandar.fk_ciclo.descripcion == 'Planear' %}
                            {% url 'planear_usuario' %}
                        {% elif item.fk_sub_estandar.fk_estandar.fk_ciclo.descripcion == 'Hacer' %}
                            {% url 'hacer_usuario' %}
                        {% elif item.fk_sub_estandar.fk_estandar.fk_ciclo.descripcion == 'Verificar' %}
                            {% url 'verificar_usuario' %}
                        {% elif item.fk_sub_estandar.fk_estandar.fk_ciclo.descripcion == 'Actuar' %}
                            {% url 'actuar_usuario' %}
                        {% endif %}
                    {% endif %} ">Ir</a>
                    
            {% endfor %}
        
    </div>

{% endblock %}

<!--Scripts extras-->
{% block extrascripts %}
{% endblock %}