<!--Hereda de tema.html (el padre)-->
{% extends "usuarios/tema.html" %}
{% load static %}

<!--Título de la página-->
{% block title %}Formatos{% endblock %}

<!--Estilos especificos de esta página-->
{% block extrastyles %}
<link rel="stylesheet" href="{% static 'usuarios/css/tablas.css' %}">
{% endblock extrastyles %}

<!--Contenido de la página-->
{% block content %}
  <!--Incluye el modal-->
  {% include "usuarios/_modal.html" %}
<!-- Dark table -->
<div class="row m-3">
  <div class="col">
    <div class="card bg-default shadow">
      <div class="card-header border-0" id="header-table">
      <h3 class="text-white mb-1 ms-4">Formatos</h3>
      </div>
      <div class="table-responsive">
      <table id="tbl-planear" class="table align-items-center table-light table-flush">

          <thead class="">
              <tr class="cabezera-estandar">
                  <th scope="col">Nombre de formato
                  </th>
                  <th scope="col">Ver formato</th>
              </tr>
          </thead>
          <tbody>

              {% for item in formatos %}
              <tr>
                  <td>
                      {{ item.descripcion }}
                  </td>
                  <td>
                      <a class="btn btn-primary" href='{{ item.formato_nombre.url }}' >Descargar formato</a>
                  </td>
              </tr>
              {% endfor %}

          </tbody>
      </table>

      </div>
    </div>
  </div>
</div>
{% endblock %}

<!--Scripts extras-->
{% block extrascripts %}
<script type="text/javascript">
  {# Update Item Modal Form #}
  $(function () {
      // Create book synchronous
      function createBookSyncModalForm() {
          $("#create-book-sync").modalForm({
              formURL: "{% url 'registrar_formato' %}",
              modalID: "#create-modal"
          });
      }
      createBookSyncModalForm();
  });

  deleteBookModalForm();
</script>
{% endblock %}