:root {
    --primary: #202020;
    --black: #55141c;
    --grey: #2e151a;
    --azul: #172b4d;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background-color: #172b4d !important;
}

#carta {
    box-shadow: 0 0 20px 0 #2525255d;
    background-color: var(--black) !important;
}

#opciones {

    background-color: var(--primary) !important;

}

#navegacion {

    background-color: var(--primary) !important;

}

#opciones:hover {
    background-color: var(--primary) !important;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }

}


.btn {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    display: inline-block;
    padding: .625rem 1.25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: .375rem;
    }
    
@media screen and (prefers-reduced-motion: reduce) {
.btn {
    transition: none;
}
}

.btn:hover,
.btn:focus {
text-decoration: none;
}

.btn:focus {
outline: 0;
box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.btn.disabled,
.btn:disabled {
opacity: .65;
box-shadow: none;
}

.btn:not(:disabled):not(.disabled) {
cursor: pointer;
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active {
box-shadow: none;
}

.btn:not(:disabled):not(.disabled):active:focus,
.btn:not(:disabled):not(.disabled).active:focus {
box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08), none;
}


.btn {
    font-size: .875rem;
    position: relative;
    transition: all .15s ease;
    letter-spacing: .025em;
    text-transform: none;
    will-change: transform;
    }
    
    .btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    }
    
    .btn:not(:last-child) {
    margin-right: .5rem;
    }
    
    .btn i:not(:first-child) {
    margin-left: .5rem;
    }
    
    .btn i:not(:last-child) {
    margin-right: .5rem;
    }
    
    .btn-sm {
    font-size: .75rem;
    }
    
    [class*='btn-outline-'] {
    border-width: 1px;
    }
    
    .btn-icon-only {
    width: 2.375rem;
    height: 2.375rem;
    padding: 0;
    }
    
    a.btn-icon-only {
    line-height: 2.5;
    }
    
    .btn-icon-only.btn-sm {
    width: 2rem;
    height: 2rem;
    }
    
    .main-content {
    position: relative;
    }
    
    .dropdown {
    display: inline-block;
    }
    
    .dropdown-menu {
    min-width: 12rem;
    }
    
    .dropdown-menu.show {
    display: block;
    }
    
    
    .dropdown-menu .dropdown-item {
    font-size: .875rem;
    padding: .5rem 1rem;
    }
    
    .dropdown-menu .dropdown-item>i {
    font-size: 1rem;
    margin-right: 1rem;
    vertical-align: -17%;
    }
    
    .dropdown-menu a.media>div:first-child {
    line-height: 1;
    }
    
    .dropdown-menu a.media p {
    color: #8898aa;
    }
    
    .dropdown-menu a.media:hover p {
    color: #172b4d !important;
    }
    
    .footer {
    padding: 2.5rem 0;
    background: #f7fafc;
    }
    
    .footer .copyright {
    font-size: .875rem;
    }
    

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Oswald", sans-serif;

    /* Pattern from https://www.heropatterns.com/ */
    background-color: #f3f3f3;
    color: #1e272e;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

#seleccion{
    box-shadow: 0 0 20px 0 #ffffff4d;
    background-color: var(--primary) !important;
    border: 0px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}


